---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="关于">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="关于"
      description="你好，我是陵长镜，人，活的，学生，开发者，博主。（？）"
    />

    <img src="/assets/images/about.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">总括</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      赛博路人，Github 随机活动。
    </p>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">其他</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      你可以前往我的博客查看完整的<a
        href="https://r1n.top/about"
        target="_blank"
        class="text-indigo-600 underline">关于界面</a
      >，或者如果你想找我玩，也可以直接给我发<a href="mailto:admin@r1n.top" class="text-indigo-600 underline"
        >邮件。</a
      > 我一定会回的！
    </p>
  </section>
</Layout>
